<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
  <form action="/grupo/{{ grupo }}" method="GET">
    <h2 class="title1">Grupo: {{ grupo }}</h2>
    <div class="search-container1">
      <input type="text" class="inputS" name="busqueda" placeholder="Buscar producto" />
      <button class="btnS" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </form>
  <a href="/">HOME</a>

  {% if productos %}
    <table>
      <thead>
        <tr>
          <th>Clave de producto</th>
          <th>Grupo</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad de venta</th>
          <th>Fecha de venta</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ producto[0] }}</td>
          <td>{{ producto[1] }}</td>
          <td>{{ producto[2] }}</td>
          <td>{{ producto[3] }}</td>
          <td>{{ producto[4] }}</td>
          <td>{{ producto[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="/ventas/{{ grupo }}" method="post" class="form-general">
      <h3>Venta General</h3>
      <form class="form" action="/" method="POST">
        <div class="input-cont">
          <div class="input">
            <input type="text" name="Nombre_Producto" />
            <label for="">Nombre del producto</label>
          </div>
        </div>
    
        <div class="input-cont">
          <div class="input">
            <input type="number" name="Cantidad_Venta" />
            <label for="">Cantidad de venta</label>
          </div>
        </div>
    
        <div class="input-cont">
          <div class="input">
            <input type="date" name="Fecha_Venta" />
            <label for="">Fecha de venta</label>
          </div>
        </div>
    
        <div class="search-container">
          <button type="submit">Vender</button>
        </div>
      </form>
    </form>
    
      
    </form>
  {% else %}
    <p>No se encontraron productos para este grupo.</p>
  {% endif %}
</body>
</html>